<div class="add_new_pet">
<h1><%= @pet.name %></h1>
<h2>Found at: <%= @stores.name %></h2>
<p>Species: <%= @pet.species %></p>
<img src="<%= @pet.image_url %>"><br>
<button><a href="/stores">Back to Store></a></button>
</div>



