<div class="add_new_store">

  <h2>Create Store</h2>

  <form action="/stores" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>

    <label for="address">Address:</label>
    <input type="text" name="address" id="address"><br>

    <label for="stock">Stock Type:</label>
    <input type="text" name="stock" id="stock"><br>


    <input type='submit' value="Create Store">
  </form>

</div>